div h3 {
    font-family: 'Courier New', Courier, monospace;
    }

.emptybucket{
display:block;
margin-top: 1rem;
margin-left:1rem;
color:#7d7d7d;
    }


.cart-row{
display:flex;
justify-content: flex-start;
align-content: center;
transform: translateZ(0);
align-items:center;
width:100%
 }