<div class="container w-60  mt-md-10 h-100 border border-secondary smallscreenbgColor">
            <h1 class="text-black-50 text-center mb-5 ">Warenkorb</h1>  
            <h3  *ngIf="orderedItems.length  == 0"  class="text-black-50 text-center mb-5 ">Warenkorb ist leer</h3>
        <hr/>
        <div class="row mt-5" *ngFor="let item of orderedItems;let i=index" >
            <div class="col-xs-1" style="font-size: 1rem;">
                <span>{{item.quantity}}x</span>
            </div>
            <div class="col-xs-5">
                <small class="text-muted description"> {{item.product.description}}</small><br>
                <small  *ngIf="item.selectedOption" class="text-muted description"> {{item.selectedOption.productOptionDescription}}</small>
                <small  *ngIf="item.selectedOption" class="text-muted description">  {{getExtrasText(item)}}</small>
            </div>
            <div class="col-xs-2">
                <div class="btn-group" role="group" aria-label="quantity">
                    <button type="button" class="btn btn-default border border-success btn-sm align-bottom float-right" (click)="decreaseTheQuantity(item)"><span class="vertical-align: baseline;">-</span></button>
                    <button type="button" class="btn btn-default border border-success btn-sm align-bottom  float-right" (click)="increaseTheQuantity(item)"><span class="vertical-align: baseline;">+</span></button>
                  </div>
            </div>
            <div class="col-xs-1 float-right" style="font-size: 1rem;">
                {{getPriceWith2DecimalPlaces(item.totalPrice)}}€
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-sm float-right" (click)="deleteTheItem(i)">
                    <span class="glyphicon glyphicon-trash  border border-success btn-sm align-top float-right btntrash"></span>  
                  </button>
            </div>
        </div>
        <div>
            <hr/>
            <span class="text-black-50 font-weight-bold">Gesamt Summe</span>
            <span class="float-right font-weight-bold">{{getPriceWith2DecimalPlaces(totalSum)}}€</span>
        </div>
        <div  *ngIf="orderedItems.length > 0 "  [routerLink]="['/submit']" style="margin:auto"  class=" OrderButtonXL btn btn-secondary  pull-center btn text-white w-100">Bestellen</div>



        
    </div>
    <div  *ngIf="orderedItems.length > 0 "  [routerLink]="['/submit']" class="btn btn-primary  OrderButtonMobile fixed-bottom  pull-center btn-lg text-white w-100">Bestellen</div>
        