<div class="container">
            <h1 class="text-black-50 text-center mb-5">Warenkorb</h1>  
        <hr/>
        <div class="row mt-5" *ngFor="let item of orderedItems">
            <div class="col border border-secondary w-10">
                <span>{{item.quantity}}x</span>
            </div>
            <div class="col border border-secondary w-40">
                <span>{{item.product.description}}</span>
            </div>
            <div class="col border border-secondary w-20">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" (click)="decreaseTheQuantity()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button type="button" class="btn btn-secondary" (click)="increaseTheQuantity()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                  </div>
            </div>
            <div class="col border border-secondary w-15">
                {{item.productBasePrice}}€
            </div>
            <div class="col border border-secondary w-15">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>  
                  </button>
            </div>
        </div>
    
</div>