<div class="backdrop" (click)="onClose()"></div>

<div class="container alert-box">
    <div class="float-right">
    <button class="btn btn-secondary" (click)="onClose()"><span class="glyphicon glyphicon-remove float-right"></span></button></div>
    <h1 class="text-black-50 text-center mb-5 bg bg-light">Bestellung {{orderNumber}}</h1>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Menge</th>
                <th>Artikel</th>
                <th>Extras</th>
                <th>Preis</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currentOrder of custorder.order"  [ngClass]="{'unbearbeitet': currentOrder.status=='unbearbeitet'}" >
           <td>{{currentOrder.quantity}}</td>
           <td>
            <div> {{currentOrder.product.description}}</div>   
            <div>{{getProductOptionDescription(currentOrder)}}</div>  </td>
           <td>{{getProductAdditionDescription(currentOrder)}}</td>
           <td>{{getDecimalFormattedItemPrice(currentOrder.totalPrice)}}€</td>
            </tr>  
        </tbody>
    </table>

    <div class="mb-10">
        <hr />
        <span class="text-black-50">Gesamt Summe</span>
       <span class=" float-right font-weight-bold">{{totalBestellungSum}}€ </span> 
    </div>

  
</div>