.alert-box{
    position:fixed;
    width:60%;
    height:60%;
    padding:16px,16px,0px,16px;
    z-index:100;
    overflow-y: auto;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,0.26);
}

.backdrop{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:50;
box-shadow:0 2px 8px rgba(0,0,0,0.76);
background:black;
}


.alert-box-actions{
    text-align:right;
}

