
<div class="container">

  <div class="row">
    <select  id="ordersViewCategory"  class="form-control"
    name="currentOption">
    <option>Von Heute</option>
    <option>Bearbeitet</option>
    <option>Unbearbeitet</option>
    <option>Erst 10</option>
    <option>Erst 100</option>
    <option>Von dieser Woche</option>
    <option>Von diesen Monat</option>
</select>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Bestellungs Nr.</th>
            <th>Datum.</th>
            <th>Kunde_Name</th>
            <th>Stadt</th>
            <th>Postleitzahl</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Lieferzeit</th>
            <th>Telefonnummer</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-success">
          <td><a href="#">1564</a></td>
            <td>22.01.2019</td>
            <td>Albert Meister sr</td>
            <td>Ravensburg</td>
            <td>88214</td>
            <td>Franz Bayer Straße 15</td>
            <td>er.tajinder89@gmail.com</td>
            <td>11:45</td>
            <td>017621361443</td>
            <td>bearbeitet</td>
        </tr>
        <tr>
          <td><a href="#">1564</a></td>
          <td>22.01.2019</td>
          <td>Albert Meister sr</td>
          <td>Ravensburg</td>
          <td>88214</td>
          <td>Franz Bayer Straße 15</td>
          <td>er.tajinder89@gmail.com</td>
          <td>11:45</td>
          <td>017621361443</td>
          <td>bearbeitet</td>
      </tr>
      <tr>
        <td><a href="#">1564</a></td>
        <td>22.01.2019</td>
        <td>Albert Meister sr</td>
        <td>Ravensburg</td>
        <td>88214</td>
        <td>Franz Bayer Straße 15</td>
        <td>er.tajinder89@gmail.com</td>
        <td>11:45</td>
        <td>017621361443</td>
        <td>bearbeitet</td>
    </tr>
       
    </tbody>
</table>

</div>