
<div class="container">

  <div class="row  overflow-auto">
    <select  id="ordersViewCategory"  class="form-control"
    name="currentOption"  (change)="eventOrderViewOptionTrigger($event)">
    <option *ngFor="let $option of orderViewCategory">{{$option}}</option>
</select>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Bestellungs Nr.</th>
            <th>Datum.</th>
            <th>Kunde_Name</th>
            <th>Stadt</th>
            <th>Postleitzahl</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Zeit</th>
            <th>Telefonnummer</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let currentOrder of customerOrders" (click)="openHistory=true" [ngClass]="{'unbearbeitet': currentOrder.status=='unbearbeitet'}" >
          <td class="text-primary">{{currentOrder.orderNumber}}</td>
          <app-order-history-view-modal *ngIf="oppenHistory"></app-order-history-view-modal>
            <td>{{currentOrder.orderDate}}</td>
            <td>{{currentOrder.custOrder.customerName}}</td>
            <td>{{currentOrder.custOrder.city}}</td>
            <td>{{currentOrder.custOrder.pincode}}</td>
            <td>{{currentOrder.custOrder.address}}</td>
            <td>{{currentOrder.custOrder.email}}</td>
            <td>{{currentOrder.orderTime}}</td>
            <td>{{currentOrder.custOrder.telefonnummer}}</td>
            <td>
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button"  class="btn btn-secondary "
                        aria-controls="dropdown-basic">
                        {{currentOrder.status}}<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu  class="dropdown-menu" 
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" (click)="setCustOrderStatus($event.target.innerText,currentOrder)">bearbeitet</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="setCustOrderStatus($event.target.innerText,currentOrder)">unbearbeitet</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="setCustOrderStatus($event.target.innerText,currentOrder)">ungültig</a></li>
                 
                </ul>
              </div>
            </td>

        </tr>  
    </tbody>
</table>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Title</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde veniam harum magnam molestias dignissimos omnis
        architecto, quod, obcaecati dolorum debitis dolore porro qui, iusto quo accusantium voluptates pariatur illo.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>