<div id="maindiv" class="row" *ngFor="let product of itemsToDisplay;let i = index" style="padding-block: 2ex;">
    <div class="col-sm-6">
        <p style="font-weight: bold;font-size: 20px;">{{product.productName}}</p> <br>
        <p style="font-style: italic;">{{product.productDescription}}
        </p>
        <p style="font-weight: bold;">{{product.productUnitPrice}}€</p>
    </div>
    <div class="col-sm-6">
        <a *ngIf="displayPlusSign(i,product)" (click)="openProductDetailWindow(i,product)">
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
        <a *ngIf="isProductDetailedWindowOpen(i)" (click)="closeProductDetailWindow(i)">
            <span class="glyphicon glyphicon-remove pull-right"></span>
        </a>
    </div>

    <app-detail-window *ngIf="openDetailedWindow(i)" [product]="product" [indexOfProduct]="i"></app-detail-window>
</div>
