.alert-box{
    position:fixed;
    width:50%;
    height:60%;
    padding:16px,16px,0px,16px;
    z-index:100;
    overflow-y: auto;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,0.26);
}


*{
	font-size: 1.4rem;
}


input{
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

 priceinput{
    width:20%;
 }


.backdrop{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:50;
background:rgba(15, 13, 13, 0.75);
}
