<div class="backdrop" (click)="onButtonClick($event)"></div>

<div class="container alert-box">
    <div class="float-right">
        <button class="btn btn-secondary" (click)=" onButtonClick($event)"><span class="glyphicon glyphicon-remove float-right"></span></button></div>
<div class="mt-5">
        <ul>
<li>  <p> Personenbezogene Daten brauchen wir für die Bestellung Lieferung.  </p></li>
<li> <p> Die Daten sind für 14 Tagen in unseren System gespeichert. Nach 14 Tagen werden die Automatisch gelöscht.</p> </li>
</ul>

</div>  
</div>