<div class="backdrop" (click)="onButtonClick($event)"></div>

<div class="container alert-box">
    <div class="float-right">
        <button class="btn btn-secondary" (click)=" onButtonClick($event)"><span class="glyphicon glyphicon-remove float-right"></span></button></div>
<div class="mt-5">
        <ul>
<li>  <p> Personenbezogene Daten werden für den Lieferungszweck  von La strada Ravensburg verwendet. </p></li>
<li> <p> Die Daten sind für 14 Tage in unserem System gespeichert. Nach 14 Tagen wird es automatisch von unserem System gelöscht.</p> </li>
<li> <p> Die Daten werden nicht an dritte Personen weitergeleitet.</p> </li>
</ul>

</div>  
</div>