

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Auswählen <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li   class="nav-item" role="presentation" *ngFor="let item of menuBarItemsAll let i=index"><a            
                    [routerLink]="[item]"
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:
                       true}"
                       style="color:gray">{{item}}</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>