<div *ngIf="showInfotext && !isOperationInProgress" class="text-center" [ngClass]="{'bg-success text-white':isOperationSuccessful==true,'text-danger':isOperationSuccessful==false}">
  <span>{{srvMessage}}</span>
</div>
<div *ngIf="isOperationInProgress" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>


<div class="container">
  <div class="row">
    <h5 class="text-black-50"> Wählen Sie bitte eine Kategorie</h5>
    <div class="col ml-1">
      <select id="selectCategory" [(ngModel)]="selectedCategory" (change)="resetProductForm()" class="form-control" name="currentOption">
        <option *ngFor="let $currentCategory of categories;">
          {{$currentCategory}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <h5 class="text-black-50"> Produkt Beschreibung eingeben </h5>
    <div class="col">
      <input type="text" class="form-control"  [(ngModel)]="articleDescription">
    </div>
  </div>
  <div class="row mt-3">
    <h5 class="text-black-50"> Produkt Zusätzlich Beschreibung </h5>
    <div class="col">
      <input  type="text" class="form-control"  [(ngModel)]="articleDetailDescription">
    </div>
  </div>
  <div class="row mt-3" *ngIf="selectedCategory!='Calzone' && selectedCategory!='Pizza' && selectedCategory!='Vegatarische_Pizza'">
    <h5 class="text-black-50"> Produkt Preis eingeben</h5>
    <div class=" ml-5 input-group-prepend">
      <span class=" ml-5 input-group-text">€</span>
    </div>
    <input type="number" min="1" step="any" class="form-control col-xs-3 priceinput" style="width:10%;"
      name="articlePrice" [(ngModel)]="productBasePrice">
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <!--Options and Preis nur für Pizza -->
  <div *ngIf="selectedCategory=='Pizza' || selectedCategory=='Vegatarische_Pizza'">
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option1Description" 
          [(ngModel)]="option1PizzaDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" class="form-control" style="width:20%;" name="option1Preis"
          placeholder="Preis" [(ngModel)]="option1PizzaPrice">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option2Description" 
          [(ngModel)]="option2PizzaDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" style="width:20%;" name="option1Preis" 
        placeholder="Preis" [(ngModel)]="option2PizzaPrice">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option3Description"
          [(ngModel)]="option3PizzaDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" class="form-control" style="width:20%;" 
          placeholder="Preis" [(ngModel)]="option3PizzaPrice">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option4Description"
          [(ngModel)]="option4PizzaDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" class="form-control" style="width:20%;" 
          placeholder="Preis" [(ngModel)]="option4PizzaPrice">
      </div>
    </div>
  </div>
  <!--Options and Preis nur für Pizza ENds-->


  <!--Options and Preis nur für Calzone -->
  <div *ngIf="selectedCategory=='Calzone'">
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option1Description" placeholder="Auswahl Beschriebung Eingeben"
          [(ngModel)]="option1CalzoneDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" class="form-control" style="width:20%;" name="option1Preis"
          placeholder="Preis" [(ngModel)]="option1CalzonePrice">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-8">
        <input type="text" class="form-control" name="option2Description" placeholder="Auswahl Beschriebung Eingeben"
          [(ngModel)]="option2CalzoneDescription" [disabled]="true">
      </div>
      <div class="col-4">
        <input type="number" min="1" step="any" class="form-control" style="width:20%;" name="option2Preis"
          placeholder="Preis" [(ngModel)]="option2CalzonePrice">
      </div>
    </div>
  </div>
  <!--Options and Preis nur für Calzone ENds-->

  <!-- Produkte die nicht Pizza oder Calzone sind -->
  <!-- Produkte Auswahl -->
  <div *ngIf="selectedCategory!='Calzone' && selectedCategory!='Pizza' && selectedCategory!='Vegatarische_Pizza'"
    class="mt-5">
    <div class="row">
      <h5 class="text-black-50"> Hat den Produkt Auswahl ? </h5>
      <div class=" ml-5 col">
        <select id="hasProductTheOptions" [(ngModel)]="hasProductOptions" (change)="executeOptionChangeInDropDown($event)" class="form-control" name="productOptions">
          <option value="Ja">
            Ja</option>
          <option value="Nein">
            Nein</option>
        </select>
      </div>
    </div>
    <div class="mt-5" *ngIf="hasProductOptions=='Ja'">
      <div class="row">
        <div class="col-10">
          <h5 class="text-black-50">Auswahl eingeben</h5>
        </div>
        <div class="col-2">
          <button (click)="increaseTheOptionNumber()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <div class="row mt-5" *ngFor="let currentOption of optionsOfProductArray;let i = index;trackBy:trackByFn">
        <div class="col">
          <input type="text" class="form-control" placeholder="*zb. Dressing für Salat" [(ngModel)]="optionsOfProductArray[i]">
        </div>
      </div>
    </div>
  </div>

  <!-- Produkte Zugehörige Artikel -->
  <div *ngIf="selectedCategory!='Calzone' && selectedCategory!='Pizza' && selectedCategory!='Vegatarische_Pizza'"
    class="mt-5">
    <div class="row">
      <h5 class="text-black-50"> Produkt zugehörige Artikel </h5>
      <div class=" ml-5 col">
        <select id="hasProductTheAdditions" [(ngModel)]="hasProductAdditions" (change)="executeAdditionChangeInDropDown($event)" class="form-control"
          name="productAdditions">
          <option value="Ja">
            Ja</option>
          <option value="Nein">
            Nein</option>
        </select>
      </div>
    </div>
    <div class="mt-5" *ngIf="hasProductAdditions=='Ja'">
      <div class="row">
        <div class="col-10">
          <h5 class="text-black-50">Auswahl und Preise eingeben</h5>
        </div>
        <div class="col-2">
          <button (click)="increaseTheAdditionNumber()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <div class="row mt-5" *ngFor="let product of additionsOfProductArray;let i = index">
        <div class="col-8">
          <input type="text" class="form-control" placeholder="*zb Brot mit Indische Essen"
            [(ngModel)]="product.additionDescription">
        </div>
        <div class="col-4 ">
          <div class=" ml-5 input-group-prepend">
            <span class="input-group-text">€</span>
            <input type="number" class="form-control col-xs-3 priceinput" min="1" step="any" name="articlePrice"
              [(ngModel)]="product.additionPrice">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Produkte Zugehörige Artikel Beendet-->
  <div class="mt-5 text-center">
    <button class="btn btn-block btn-success" (click)="processNewProduct()"> Speichern</button>
  </div>
</div>