<div class="backdrop"></div>
<div class="alert-box text-center" *ngIf="!isDeletionInProgress">
    <h1 class="text-muted"> Achtung</h1>
    <div class="mt-2">
        <p class="text-muted"> Möchten Sie <span class="font-weight-bold">{{product.description}}</span> löschen ?</p>
    </div>
    <div>
        <button class="btn btn-primary mr-5" (click)="doDelete()">Ja</button>
        <button class="btn btn-primary ml-5" (click)="cancel()">Nein</button>
    </div>
 

    
        <div  *ngIf="showInfotext && !isDeletionInProgress && productDeletedSuccessfully" [ngClass]="{'text-success':success==true,'text-danger':success==false}">
    <p class="lead"> {{srvMessage}}</p>
    </div>
</div>