*{
	font-size: 1.4rem;
}

.activelink {
	font-weight: bold;
}

#navcontainer{
	height:5rem;
}

#Extrastext{
    height:1rem;
}
#imagecontainer{
	height:20rem;
}


.productDetail{
height:10rem;
}

.orderButtonOnlyForMobile{
    width:30%;
    position: fixed;
    right:    0;
    top:45%;
 
  }
  @media(min-width:768px){ 
  .orderButtonOnlyForMobile{
    display: none;
    visibility: hidden;
  }

 
}