<div class="container">
    <div class="row border border-success">
        <div class="col" id="navcontainer">
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light " id="main-nav">
                <div class="container-fluid">
                    <ul class="navbar-nav font-weight-normal">
                        <li> <a class="text-primary">
                                <span class=" mt-4 glyphicon glyphicon-chevron-left" (click)="navigateLeft()"></span>
                            </a></li>
                        <li class="nav-item w-10 active" *ngFor='let item of categories |slice: start:end'>
                            <a class="nav-link active" [routerLink]="[item]" [routerLinkActive]="['activelink']"
                                fragment={{item}}>{{item}}</a>
                        </li>
                        <li> <a class="text-primary">
                                <span class=" mt-4 glyphicon glyphicon-chevron-right" (click)="navigateRight()"></span>
                            </a></li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
    <div id={{product.productCategory}} class=" productDetail row mb-1 mt-5 border border-bottom-primary border rounded"
        *ngFor="let product of allProductItems">
        <div class="row w-100">
            <div class="col pull-right">
                <a>
                    <span  class=" glyphicon glyphicon-plus float-right text-primary"></span>
                </a>
            </div>
        </div>
        <div class="row  w-100">
            <div class="col">
                <h3 class="text-center">{{product.description}}</h3>
            </div>
        </div>

        <div class="row  w-100">
            <div class="col">
                <small class="text-center">{{product.optionDescription}}</small>
            </div>
        </div>

        <div class="row  w-100 mb-2">
            <div class="col">
                <h3>{{getProductPrice(product)}}€</h3>
            </div>
        </div>
    </div>

</div>





