

.header {
  background: #999;
  text-align: center;
}
.right {
	background: #999;
	height: 500px;
	position: fixed;
	top: 110px;
	right: 0px;
}
.left {
	margin-top: 110px;
	background: #CCC;
	min-height: 400px;
}