<div *ngIf="!isWebsiteOnline">
 <app-offline text={{message}}></app-offline>
</div>

<div *ngIf="isWebsiteOnline" data-spy="scroll" data-target="#main-nav" id="home">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="main-nav">
      <div class="container">
        <div>
            <img   class="img-thumbnail float-left" src='../../assets/lastradalogo.png' alt="Leckere gerichte">
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
         
            <li class="nav-item">
                <a href="#explore-head-section" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#explore-head-section" class="nav-link">Über uns</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/shop']">Bestellen</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- HOME SECTION -->
    <header id="home-section"  style="background:url('../../assets/home.jpg'); background-size: cover">
      <div class="dark-overlay">
        <div class="home-inner container">
        

        </div>
      </div>
    </header>
  
    <!-- EXPLORE HEAD -->
    <section id="explore-head-section" class="aboutus">
      <div class="container ">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Über uns</h1>
            <p class="lead">Hier kommt den Text über Lastrada.Unsere Hochwertige Lecker gerichte. Hilfe von Lumi</p>
          </div>
        </div>
          <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/pizza.jpg" alt="Angular Carousel 1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/calzone.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/indischegerichte.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/international.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/dönerkebab.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/indischegerichte.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
  </ngb-carousel>
      </div>
    </section>
  




    <!-- EXPLORE SECTION -->
    <section id="explore-section" class="bg-light text-muted py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <h3> Öffnungzeiten</h3>

              <p>
                Montag :  Ruhetag <br>
                Dienstag - Samstag      : 11:30 - 13:30 Uhr und 16:30 - 22:00 Uhr <br>
                Sonntag und Feiertag    : 12:00 - 22:00 Uhr
              </p>
              <hr>
              <p class="text-success">Zahlung mit EC Karte möglich</p>
          </div>
          <div class="col-md-6">
            <h3>Unseren Liefergebeite</h3>
            <p>Mindestbestellwert
             </p>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                7€ - Weißenau
              </div>
            </div>
  
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                10€ - Ravensburg-Süd, Weingartshof
            </div>
            </div>

            <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                    15€ - Ravensburg, Berg, Weingarten (Unterstadt),
                    Bavendorf, Sickenried, Torkenweiler, Eschach
                    (Unter-und Ober-), Oberzell
                 </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                    20€ - Schmalegg (nur Stadt), Gornhofen, Grünkraut,
                    Liebenau, Weingarten (Oberstadt), Hegenberg,
                    Ettishofen, Bergweiler
                </div>
              </div>

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                    25€ - Meckenbeuren (nur Stadt), Brochenzell
                    (nur Stadt), Baienfurt (nurStadt), Baindt,
                    Horgenzell, Taldorf, Schlier, Schachen, Staig
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="contact" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Kontakt</h1>
            <p class="lead">Abt Mauch Straße 2
                88214 Ravensburg -Weißenau
                Tel.: 0751-769 48 75, 0751-769 48 76
                Fax: 0751-769 32 55</p>
          </div>
        </div>
      </div>
    </section>
  
   
  
  

  
    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center py-4">
            <h3>Lastrada</h3>
            <p>Copyright &copy;
              <span id="year"></span>
            </p>
          </div>
        </div>
      </div>
    </footer>
    
    <div>
    <button type="button" class="btn  btn-primary orderButton" (click)="goInShop()">Bestellen</button>  
   
  </div>
  </div>


    
        

  

