<div *ngIf="passwordChangeInProgress" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<form *ngIf="!passwordChangeInProgress" class="p-3 border" (ngSubmit)="onSubmit()" #f='ngForm'>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 pull-left">
            <div class="form-group">
                <label>Benutzer Name</label> <br>
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="*Benutzer Name eingeben" autocomplete="off" [(ngModel)]="username" required>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 pull-left">
            <div class="form-group">
                <label>Altes Passwort</label> <br>
                <input type="password" class="form-control" id="oldPassword" placeholder="*Altes Passwort eingeben"
                    autocomplete="off" name="oldPassword" [(ngModel)]="oldPassword" required>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 pull-left">
            <div class="form-group">
                <label>Neues Passwort</label> <br>
                <input type="password" class="form-control" id="newPassword" minlength="8"  placeholder="*Neues Passwort eingeben.Mindesten 8 Zeichen."
                    autocomplete="off" name="newPassword" [(ngModel)]="newPassword" required>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 pull-left">
            <div class="form-group">
                <label>Neues Passwort wiederholen</label> <br>
                <input type="password" class="form-control" id="repeatNewPassword" minlength="8"
                    placeholder="*Neues Passwort eingeben" autocomplete="off" name="repeatNewPassword"
                    [(ngModel)]="repeatNewPassword" required>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col text-center">
            <div class="form-group">
                <button type="submit" [disabled]="!f.valid"
                    class=" btn btn-primary form-control pull-center btn-lg text-white w-100"> Ändern</button>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
</form>




<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div *ngIf="passwordDoNotMatch" class="p-3 mb-2 bg-danger text-white">
            <span class="text-white bg-danger">*Neues Passwort und Wiederholung der neues Passwort stimmen nicht über
                ein. </span>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>


<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div *ngIf="showInfotext" [ngClass]="{'text-success':success==true,'text-danger':success==false}">
            <p class="lead"> {{srvMessage}}</p>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
